* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 50%;
  height: 60%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cal-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
